*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

    line-height: 1.6;

}

header{
    text-align: center;
    background-color: rgb(239, 226, 226);
}

nav ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;
}
nav{
    background-color:  rgb(239, 226, 226);
    padding: 2rem;
}

nav ul li a{
    color: black;
}
    
nav ul li a{
    color: black;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav ul li a:hover{
    background-color: #2A7B9B;
    color: white;
    transform: translateY(-10px);
    
}
#skills{
    display:flex;
    gap: 1.5rem;
    justify-content: ;
}
#about{

    text-align: center;
}